<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>apple.xxx</string>
	<key>Description</key>
	<string>Black</string>
	<key>Theme</key>
	<dict>
		<key>Background</key>
		<dict>
			<key>Path</key>
			<string>bg.png</string>
			<key>Type</key>
			<string>Scale</string>
		</dict>
		<key>Banner</key>
		<string>star.png</string>
		<key>Selection</key>
		<dict>
			<key>Color</key>
			<string>0x66AAFF50</string>
			<key>Small</key>
			<string>selection_small.png</string>
			<key>Big</key>
			<string>selection_big.png</string>
		</dict>
		<key>Font</key>
		<dict>
			<key>CharWidth</key>
			<integer>10</integer>
			<key>Path</key>
			<string>font.png</string>
			<key>Type</key>
			<string>Load</string>
		</dict>
		<key>Badges</key>
		<dict>
			<key>Show</key>
			<true/>
			<key>Swap</key>
			<true/>
			<key>Inline</key>
			<false/>
		</dict>
		<key>Components</key>
		<dict>
			<key>Banner</key>
			<true/>
			<key>Functions</key>
			<true/>
			<key>Tools</key>
			<true/>
			<key>Label</key>
			<true/>
			<key>Revision</key>
			<false/>
			<key>Help</key>
			<false/>
			<key>MenuTitle</key>
			<true/>
			<key>MenuTitleImage</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
